* {
    box-sizing: border-box;
    margin: 0;
}
h1 , p {
    margin-bottom: 12px;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 1.8;
    background-color: #444;
    color: #fff;
}
.container {
    width: 60%;
}
.home {
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img {
    width: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.home p {
    color: #eee;
}

@media screen and (max-width : 768px) {
    .container {
        width: 85%;
    }
    .home h1 {
        font-size: 28px;
    }
    .home p {
        font-size: 20px;
        line-height: 1.4    ;
    }
}